  
.videoHotspotsParent {
    position: relative;
}

div > .hotspot {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

div > .hotspot.image {
    background-size: cover;
    background-position: center;
}

video:focus {
    outline: none;
}

.hotspotClickBlocker {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;
}